h1  {
    color: MediumTurquoise;
  }

  p {
    font-family: ;
  }

  .text { 
    border-style: double;
    border-color: cornflowerblue;
    margin: 15px;
    padding: 20px;
  }

  img { 
    height: 230px;
    margin: 40px;
    padding: auto;
    border-style: dotted;
    border-color: cadetblue;
  }
body {
 background-image: url('background.jpeg');
 opacity: 0.9;
}