<!DOCTYPE html>
<div class="background">
 <html lang="en">
     <head>
       <meta charset="UTF-8">
       <title>CSS Website Layout</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="header">
</div>
<div class="topnav">
  <a href="#" id="bold">about us</a>
  <a href="#" id="bold">registration</a>
  <a href="#" id="bold">location</a>
</div>
       <title>DentalHome</title>
       <link href="styles.css" rel="stylesheet" type="text/css"/>
     </head>
     <header>
         <h1 id="home">Welcome to our Website</h1>
     </header>
     <body>
        <div class="bodyIndex">
           <br>
         <ul>
            <li>About us</li>
          <li>Registration</li>
           <li>Location</li>
        </ul>
        </div>
         <p>Some informations about our Praxis</p>
          <p>Sie konnen auf kompetente Zahnmedizin in Ihrer Nahe vertrauen.
         Wir freuen uns darauf, Sie personlich kennenzulernen und in der Praxis zu begrussen.
          </p>
           <p>
          Suchen Sie einen Zahnarzt in Zurich? Oder wunschen Sie Informationen uber unsere zahnmedizinischen Leistungen? Dann sind Sie hier genau richtig. Wir informieren Sie auf dieser Homepage uber unsere Zahnarztpraxis im Herzen Zurichs, uber unser Team und unsere zahnmedizinischen Leistungen und freuen uns, auch Sie bald als Patienten begrussen zu durfen.
          </p>
          <br/>
        </div>
        <img src="../images/dental.jpg" alt="dental picture"/>
        <p>Registration</p>
        <form>
           <label for="username">Username</label>
           <input type="text" name="username" />
           <label for="password">Password</label>
           <input type="password" name="password" />
           <input type="submit" value="submit" />
        </form>
        <br>
        <iframe width="392" height="220" src="https://www.youtube.com/embed/PI3IOo3CGZU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </body>
    <footer>
      <table>
         <thead>
            <th>Unser</th>
            <th>Team</th>
         </thead>
         <tbody>
            <tr>
               <td>Dental</td>
               <td>AG</td>
            </tr>
         </tbody>
      </table>
    </footer>
</html>
   </div>





   <h2>Here is the link to see the Location.</h2>
   <button>CLICK ON THE LINK</button>
   <br>
   <br>
   <a href="location.html">The location of Dental AG</a>