<!DOCTYPE html>
<div class="background">
   <html lang="en">

   <head>
      <meta charset="UTF-8">
      <title>CSS Website Layout</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>DentalHome</title>
      <link href="styles.css" rel="stylesheet" type="text/css" />
   </head>

   <body>
      <div class="header">
      </div>
      <div class="topnav">
         <a href="index.html" class="bold">about us</a>
         <a href="registration.html" class="bold">registration</a>
         <a href="location.html" class="bold">location</a>
         <a href="NewFunktions.html" class="bold">New Funktions</a>
      </div>
      <header>
         <h1 class="home">Welcome to our Website</h1>
      </header>

      <body>
         <div class="bodyIndex">
            <br>
            <ul>
               <li>About us</li>
               <li>Registration</li>
               <li>Location</li>
            </ul>
         </div>
         <div class="container">
            <p>SOME INFORMATIONS ABOUT OUR PRAXIS</p>
            <p>Suchen Sie einen Zahnarzt in Zürich? Oder wuschen Sie Informationen uber unsere zahnmedizinischen
               Leistungen? Dann sind Sie hier genau richtig. Wir informieren Sie auf dieser Homepage uber unsere
               Zahnarztpraxis im Herzen Zurichs, uber unser Team und unsere zahnmedizinischen Leistungen und freuen uns,
               auch Sie bald als Patienten begrussen zu durfen.
            </p>
            <p>Sie konnen auf kompetente Zahnmedizin in Ihrer Nahe vertrauen.
               Wir freuen uns darauf, Sie personlich kennenzulernen und in der Praxis zu begrussen.
            </p>
         </div>
         <div class="item">
         <img src="../images/dental.jpg" alt="dental picture" />
         </div>
         <p>KIEFERORTHOPADIE</p>
         <p>Mit unseren kieferorthopadischen Leistungen ermoglichen wir Ihnen eine schonende Behandlung mit nachhaltigem
            Ergebnis. Unsere Spezialisten versorgen Sie gerne mit festen oder herausnehmbaren Zahnspangen sowie mit den
            modernen
            Invisalign-Schienen.</p>
         <iframe width="392" height="220" src="https://www.youtube.com/embed/PI3IOo3CGZU" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
         </iframe>
      </body>
      <footer>
         <table>
            <thead>
               <th>Unser</th>
               <th>Team</th>
            </thead>
            <tbody>
               <tr>
                  <td>Dental</td>
                  <td>AG</td>
               </tr>
            </tbody>
         </table>
      </footer>

   </html>
</div>