<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Location</title>
        <link href="styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <header>
        <h1 id="home">Our Location</h1>
    </header>
    <body>
        <div class="bodyIndex">
        <p id="bold">Here you can see the Map with our Location.
            Our Praxis is on the Witikonerstrasse 5 street.
        </p>
        <p>We are really happy to meet you :)
        </p>
    </div>
        <div class="mapouter"><div class="gmap_canvas"><iframe width="508" height="269" id="gmap_canvas" src="https://maps.google.com/maps?q=Schweiz,%20Z%C3%BCrich%20Witikonerstrasse%205&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/divi-discount-code-elegant-themes-coupon/">divi discount</a><br><style>.mapouter{position:relative;text-align:right;height:269px;width:508px;}</style><a href="https://www.embedgooglemap.net">embed google maps in gmail</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:295px;width:525px;}</style></div>
        <br>
        <br>
    </body>
    <footer>
        <p id="bold">Our Telephone Number and Email</p>
        <p id="bold">┋+41 76 1839 2738 19 ┋ <a href="dental.ag@gmail.com">dental.ag@gmail.com</a>┋</p>
        <button onclick="window.location.href='index.html';">HOME</button>
    </footer>
</html>